body{
    background-color: antiquewhite;
}
ul{
    text-align: left;
}

h5{
    color: darkgoldenrod;
}
.direc{
   
    text-align: center;
    min-height: 100hv;
}
.image{
    float: left;
}
.imag{
    box-shadow: 10px 10px rgb(101, 11, 129);

}
.text-center{
    background-color: rgb(255, 254, 252);
}
.imagen{
    display: flex;
    justify-content: center;  
}