
.direc{
   
    text-align: center;
    min-height: 100hv;
}
.text-center{
    background-color: rgb(237, 176, 245) ;
}
.image{
    float: left;
}
.navbar-toggler{
    height: 200px;
}

.imagen{
    display: flex;
    justify-content: center;  

    
}
.imag{
    box-shadow: 10px 10px rgb(101, 11, 129);

}
.sub{
    text-decoration: underline rgb(78, 4, 4);
    color: rgb(14, 13, 13);
    padding: 10px;
}
.texto{
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;   
}
body{
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20220823/pngtree-boba-tea-refreshingly-milky-beverage-with-tapioca-pearls-in-a-plastic-cup-photo-image_38752606.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.su{
    text-align: left;
    text-decoration: underline rgb(78, 4, 4);
}

.contenedor {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
   
  }
  
  .item {
    border: 1px solid #080006;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 190, 243);
    text-align: center;
  }

  .navcolor{
    background-color: antiquewhite;
  }