/*SELECTOR UNIVERSAL*/
*{
    
    padding: 1px;
}

/*SELECTOR DE TIPO */
h2{
    color: brown;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-escritorio-flores-vector-lindo_53876-136877.jpg);
    /*background-repeat: no-repeat;**/  
}

/*SELECTOR ID*/
#direccion{
    color: blue;
}

/*SELECTOR DE CLASE*/
.nav-enlace{ 
    display: inline-block;
    background-color: rgb(114, 118, 118);
    color: rgb(255, 38, 0);
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
}
.contenedor-cabecera{
    margin: 20px;
    padding: 10px;
    display: flex ;
    justify-content: center;
    height: 70px;
    
}

.img{
    width: 50px;
    height: 50px;
}
.nav{
    background-color: rgb(144, 172, 224);
    padding: 10px;
    display: flex;
    justify-content: left;
}

/*USO DE PSEUDOCLASE*/
.nav-enlace:hover{
    background-color: cadetblue;
}
.parrafo{
    background-color: rgb(166, 206, 242);
    width: 70%;
    height: 400px;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    
}
.flex-container{
    display: flex;
    justify-content: center;
}
.flex-container img{
width: 50%;
height: auto;
display: flex;
padding: 10px;
justify-content: left;
}
.barra-lateral{
    background-color: rgb(166, 206, 242);
    margin: 10px;
    width: 25%;
    height: 400px;
    float: right;
    text-align: center;
    padding: 10px; 
    border-radius: 5px;
    box-shadow: 10px 10px royalblue;
}
.flex-footer{
background-color: antiquewhite;
text-align: center;
}